@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

body{
  overflow: hidden;
}
.text-shadow{
  text-shadow: 2px 2px 2px black;
}

@keyframes hero-search-border-in {
  from{width: 0;margin-left: 50%;}
  to{width: 100%;margin-left: 0;}
}
@keyframes hero-search-border-out {
  to{width: 0;margin-left: 50%;}
  from{width: 100%;margin-left: 0;}
}

.hero-search::after{
  position: absolute;
  content: '';
  width: 0;
  left: 0;
  top: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: whitesmoke;
  animation: hero-search-border-out 1s;
}
.hero-search:has(:focus)::after{
  width: 100%;
  animation: hero-search-border-in 1s;
}
.hero-search:has(:focus){
  svg{
    transform: scale(1.5);
    stroke: white;
  }
}
.hero-search{
  position: relative;

}


.scroll-customize::-webkit-scrollbar{
  width: 10px;
}
.scroll-customize::-webkit-scrollbar-thumb{
  background-color: gray;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}